.list-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #C5B09C;
    border-bottom: 1px solid white;
    border-radius: 8px;
    width: 85%;
    margin: 5px;
    /* font-size: 1.2em; */
}

.list-section:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

p {
    border-bottom: 1px solid #C5B09C;
    font-size: 1.2em;
    color: #312313;
}

#btn-add{
  background-color: #815D3C;
  color: white;
  height: 6vh;
  border: 1px solid black;
  font-size: 1rem;
  margin: 5px;
  padding: 6px;
  border-radius: 5px;
}

#btn-add:hover{
  background-color: #684026;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

#input-field{
  width: 40vw;
  height: 5vh;
  background-color:transparent;
  border-radius: 5px;
  border: 2px solid #312313;
  font-size: 1.3rem;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color: #312313;
}

#input-field:focus {
  /* border-color: #ff0000;  */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

#input-field::placeholder{
  text-align: center;
  padding: 5px;
  font-size: 1.3rem;
  color: white;
  font-style: italic;
}

#btn-delete{
  height: 3rem;
  width: 4em;
  border-radius: 15%;
  background-color: transparent;
  margin: 7px;
  color: red;
}

#btn-delete:hover{
  background-color: #684026;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

#check-box{
  height: 2em;
  width: 2em;
  margin: 7px;
}

#check-box:hover{
  background-color: #684026;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
